# Análise de Dados de eleitores brasileiros 2018

In [1]:
#importando bibliotecas

import pandas as pd

In [2]:
#carregar o arquivo csv

df = pd.read_csv('eleitorado_municipio_2018.csv',sep=';',encoding='latin1')

df.head()

,NR_ANO_ELEICAO,CD_PAIS,NM_PAIS,SG_REGIAO,NM_REGIAO,SG_UF,NM_UF,CD_MUNICIPIO,NM_MUNICIPIO,QTD_ELEITORES,...,QTD_ELEITORES_90A94,QTD_ELEITORES_95A99,QTD_ELEITORES_MAIORIGUAL100,QTD_ELEITORES_IDADEINVALIDO,QTD_ELEITORES_IDADENAOSEAPLICA,QTD_ELEITORES_IDADENAOINFORMADA,QTD_ELEITORES_COMBIOMETRIA,QTD_ELEITORES_SEMBIOMETRIA,QTD_ELEITORES_DEFICIENTE,QUANTITATIVO_NOMESOCIAL
0,2018,1,Brasil,N,Norte,AC,Acre,1120,ACRELÂNDIA,8809,...,8,2,0,0,0,0,8784,25,35,0
1,2018,1,Brasil,N,Norte,AC,Acre,1570,ASSIS BRASIL,5726,...,14,4,0,0,0,0,5712,14,13,0
2,2018,1,Brasil,N,Norte,AC,Acre,1058,BRASILÉIA,16041,...,14,4,4,0,0,0,15905,136,92,0
3,2018,1,Brasil,N,Norte,AC,Acre,1007,BUJARI,8683,...,11,2,0,0,0,0,8665,18,18,0
4,2018,1,Brasil,N,Norte,AC,Acre,1015,CAPIXABA,6832,...,5,1,0,0,0,0,6820,12,78,0

In [3]:
#tipo e quantidade dos dados

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5741 entries, 0 to 5740
Data columns (total 43 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   NR_ANO_ELEICAO                   5741 non-null   int64
 1   CD_PAIS                          5741 non-null   int64
 2   NM_PAIS                          5741 non-null   object
 3   SG_REGIAO                        5741 non-null   object
 4   NM_REGIAO                        5741 non-null   object
 5   SG_UF                            5741 non-null   object
 6   NM_UF                            5741 non-null   object
 7   CD_MUNICIPIO                     5741 non-null   int64
 8   NM_MUNICIPIO                     5741 non-null   object
 9   QTD_ELEITORES                    5741 non-null   int64
 10  QTD_ELEITORES_FEMININO           5741 non-null   int64
 11  QTD_ELEITORES_MASCULINO          5741 non-null   int64
 12  QTD_ELEITORES_NAOINFORMADO       5741 non-null   int64
 13  QTD_ELEITORES_MENOR16            5741 non-null   int64
 14  QTD_ELEITORES_16                 5741 non-null   int64
 15  QTD_ELEITORES_17                 5741 non-null   int64
 16  QTD_ELEITORES_18                 5741 non-null   int64
 17  QTD_ELEITORES_19                 5741 non-null   int64
 18  QTD_ELEITORES_20                 5741 non-null   int64
 19  QTD_ELEITORES_21A24              5741 non-null   int64
 20  QTD_ELEITORES_25A29              5741 non-null   int64
 21  QTD_ELEITORES_30A34              5741 non-null   int64
 22  QTD_ELEITORES_35A39              5741 non-null   int64
 23  QTD_ELEITORES_40A44              5741 non-null   int64
 24  QTD_ELEITORES_45A49              5741 non-null   int64
 25  QTD_ELEITORES_50A54              5741 non-null   int64
 26  QTD_ELEITORES_55A59              5741 non-null   int64
 27  QTD_ELEITORES_60A64              5741 non-null   int64
 28  QTD_ELEITORES_65A69              5741 non-null   int64
 29  QTD_ELEITORES_70A74              5741 non-null   int64
 30  QTD_ELEITORES_75A79              5741 non-null   int64
 31  QTD_ELEITORES_80A84              5741 non-null   int64
 32  QTD_ELEITORES_85A89              5741 non-null   int64
 33  QTD_ELEITORES_90A94              5741 non-null   int64
 34  QTD_ELEITORES_95A99              5741 non-null   int64
 35  QTD_ELEITORES_MAIORIGUAL100      5741 non-null   int64
 36  QTD_ELEITORES_IDADEINVALIDO      5741 non-null   int64
 37  QTD_ELEITORES_IDADENAOSEAPLICA   5741 non-null   int64
 38  QTD_ELEITORES_IDADENAOINFORMADA  5741 non-null   int64
 39  QTD_ELEITORES_COMBIOMETRIA       5741 non-null   int64
 40  QTD_ELEITORES_SEMBIOMETRIA       5741 non-null   int64
 41  QTD_ELEITORES_DEFICIENTE         5741 non-null   int64
 42  QUANTITATIVO_NOMESOCIAL          5741 non-null   int64
dtypes: int64(37), object(6)
memory usage: 1.9+ MB

In [4]:
#quantidade de eleitores por UF

df.groupby('SG_UF')['QTD_ELEITORES'].sum()

SG_UF
AC      547680
AL     2187967
AM     2428098
AP      512110
BA    10393170
CE     6344483
DF     2084356
ES     2754728
GO     4454497
MA     4537237
MG    15700966
MS     1877982
MT     2330281
PA     5499283
PB     2867649
PE     6570072
PI     2370894
PR     7971087
RJ    12408340
RN     2373619
RO     1175733
RR      333464
RS     8354732
SC     5070212
SE     1577058
SP    33040411
TO     1039439
ZZ      500727
Name: QTD_ELEITORES, dtype: int64

In [5]:
#Cidades com maior número de eleitores deficientes

df.nlargest(5,'QTD_ELEITORES_DEFICIENTE')

,NR_ANO_ELEICAO,CD_PAIS,NM_PAIS,SG_REGIAO,NM_REGIAO,SG_UF,NM_UF,CD_MUNICIPIO,NM_MUNICIPIO,QTD_ELEITORES,...,QTD_ELEITORES_90A94,QTD_ELEITORES_95A99,QTD_ELEITORES_MAIORIGUAL100,QTD_ELEITORES_IDADEINVALIDO,QTD_ELEITORES_IDADENAOSEAPLICA,QTD_ELEITORES_IDADENAOINFORMADA,QTD_ELEITORES_COMBIOMETRIA,QTD_ELEITORES_SEMBIOMETRIA,QTD_ELEITORES_DEFICIENTE,QUANTITATIVO_NOMESOCIAL
5358,2018,1,Brasil,SE,Sudeste,SP,São Paulo,71072,SÃO PAULO,9052724,...,77321,33110,3439,96,0,0,4346933,4705791,138884,551
3660,2018,1,Brasil,SE,Sudeste,RJ,Rio de Janeiro,60011,RIO DE JANEIRO,4891885,...,81644,36069,2219,64,0,0,691875,4200010,23228,203
4990,2018,1,Brasil,SE,Sudeste,SP,São Paulo,64777,GUARULHOS,814342,...,117,13,4,7,0,0,813706,636,22266,82
535,2018,1,Brasil,NE,Nordeste,BA,Bahia,38490,SALVADOR,1827436,...,939,164,34,7,0,0,1826047,1389,19305,122
4010,2018,1,Brasil,S,Sul,RS,Rio Grande do Sul,85995,CAXIAS DO SUL,322901,...,336,46,2,0,0,0,322336,565,18360,14

In [6]:
print('Eleitoras',df['QTD_ELEITORES_FEMININO'].sum())

print('Eleitores',df['QTD_ELEITORES_MASCULINO'].sum())

print('Não Informado',df['QTD_ELEITORES_NAOINFORMADO'].sum())

Eleitoras 77339897
Eleitores 69902977
Não Informado 63401

In [7]:
#Criar variáveis para calcular percentual

tot_eleitores = df['QTD_ELEITORES'].sum()
tot_feminino = df['QTD_ELEITORES_FEMININO'].sum()
tot_masculino = df['QTD_ELEITORES_MASCULINO'].sum()
tot_nao = df['QTD_ELEITORES_NAOINFORMADO'].sum()

In [8]:
#mostrando o resultado de eleitores em porcentagem

print('Eleitoras',((tot_feminino/tot_eleitores)*100).round(2))

print('Eleitores',((tot_masculino/tot_eleitores)*100).round(2))

print('Não Informado', ((tot_nao/tot_eleitores)*100).round(2))

Eleitoras 52.5
Eleitores 47.45
Não Informado 0.04

In [9]:
#quantas cidades possuem mais mulheres eleitoras do que homens

df[df['QTD_ELEITORES_FEMININO'] > df['QTD_ELEITORES_MASCULINO']].count()

NR_ANO_ELEICAO                     3446
CD_PAIS                            3446
NM_PAIS                            3446
SG_REGIAO                          3446
NM_REGIAO                          3446
SG_UF                              3446
NM_UF                              3446
CD_MUNICIPIO                       3446
NM_MUNICIPIO                       3446
QTD_ELEITORES                      3446
QTD_ELEITORES_FEMININO             3446
QTD_ELEITORES_MASCULINO            3446
QTD_ELEITORES_NAOINFORMADO         3446
QTD_ELEITORES_MENOR16              3446
QTD_ELEITORES_16                   3446
QTD_ELEITORES_17                   3446
QTD_ELEITORES_18                   3446
QTD_ELEITORES_19                   3446
QTD_ELEITORES_20                   3446
QTD_ELEITORES_21A24                3446
QTD_ELEITORES_25A29                3446
QTD_ELEITORES_30A34                3446
QTD_ELEITORES_35A39                3446
QTD_ELEITORES_40A44                3446
QTD_ELEITORES_45A49                3446
QTD_ELEITORES_50A54                3446
QTD_ELEITORES_55A59                3446
QTD_ELEITORES_60A64                3446
QTD_ELEITORES_65A69                3446
QTD_ELEITORES_70A74                3446
QTD_ELEITORES_75A79                3446
QTD_ELEITORES_80A84                3446
QTD_ELEITORES_85A89                3446
QTD_ELEITORES_90A94                3446
QTD_ELEITORES_95A99                3446
QTD_ELEITORES_MAIORIGUAL100        3446
QTD_ELEITORES_IDADEINVALIDO        3446
QTD_ELEITORES_IDADENAOSEAPLICA     3446
QTD_ELEITORES_IDADENAOINFORMADA    3446
QTD_ELEITORES_COMBIOMETRIA         3446
QTD_ELEITORES_SEMBIOMETRIA         3446
QTD_ELEITORES_DEFICIENTE           3446
QUANTITATIVO_NOMESOCIAL            3446
dtype: int64

In [10]:
#Criar uma coluna nova para indicar a relação fem/masc

df['RELACAO_FEM_MASC'] = df['QTD_ELEITORES_FEMININO'] / df['QTD_ELEITORES_MASCULINO']

In [11]:
#Municipios com a amaior relação fem/masc

df.nlargest(5,'RELACAO_FEM_MASC')

,NR_ANO_ELEICAO,CD_PAIS,NM_PAIS,SG_REGIAO,NM_REGIAO,SG_UF,NM_UF,CD_MUNICIPIO,NM_MUNICIPIO,QTD_ELEITORES,...,QTD_ELEITORES_95A99,QTD_ELEITORES_MAIORIGUAL100,QTD_ELEITORES_IDADEINVALIDO,QTD_ELEITORES_IDADENAOSEAPLICA,QTD_ELEITORES_IDADENAOINFORMADA,QTD_ELEITORES_COMBIOMETRIA,QTD_ELEITORES_SEMBIOMETRIA,QTD_ELEITORES_DEFICIENTE,QUANTITATIVO_NOMESOCIAL,RELACAO_FEM_MASC
5581,2018,2,Exterior,E,Exterior,ZZ,Exterior,99350,BAMAKO,1,...,0,0,0,0,0,0,1,0,0,inf
5613,2018,2,Exterior,E,Exterior,ZZ,Exterior,38920,COTONOU,2,...,0,0,0,0,0,0,2,0,0,inf
5652,2018,2,Exterior,E,Exterior,ZZ,Exterior,99422,LETHEM,1,...,0,0,0,0,0,1,0,0,0,inf
5658,2018,2,Exterior,E,Exterior,ZZ,Exterior,29963,LOMÉ,3,...,0,0,0,0,0,0,3,0,0,inf
5653,2018,2,Exterior,E,Exterior,ZZ,Exterior,29939,LIBREVILLE,21,...,0,0,0,0,0,0,21,0,0,9.5

In [12]:
#municipios com a menor relação fem/masc

df.nsmallest(5,'RELACAO_FEM_MASC')

,NR_ANO_ELEICAO,CD_PAIS,NM_PAIS,SG_REGIAO,NM_REGIAO,SG_UF,NM_UF,CD_MUNICIPIO,NM_MUNICIPIO,QTD_ELEITORES,...,QTD_ELEITORES_95A99,QTD_ELEITORES_MAIORIGUAL100,QTD_ELEITORES_IDADEINVALIDO,QTD_ELEITORES_IDADENAOSEAPLICA,QTD_ELEITORES_IDADENAOINFORMADA,QTD_ELEITORES_COMBIOMETRIA,QTD_ELEITORES_SEMBIOMETRIA,QTD_ELEITORES_DEFICIENTE,QUANTITATIVO_NOMESOCIAL,RELACAO_FEM_MASC
5592,2018,2,Exterior,E,Exterior,ZZ,Exterior,39187,BRAZZAVILLE,3,...,0,0,0,0,0,0,3,0,0,0.000000
5610,2018,2,Exterior,E,Exterior,ZZ,Exterior,38903,CONACRI,2,...,0,0,0,0,0,0,2,0,0,0.000000
5625,2018,2,Exterior,E,Exterior,ZZ,Exterior,99406,FREETOWN,2,...,0,0,0,0,0,0,2,0,0,0.000000
5719,2018,2,Exterior,E,Exterior,ZZ,Exterior,30546,SÓFIA,16,...,0,0,0,0,0,0,16,0,0,0.230769
5639,2018,2,Exterior,E,Exterior,ZZ,Exterior,38989,IEREVAN-ARME,12,...,0,0,0,0,0,0,12,0,0,0.333333

In [13]:
#quantidade de eleitores sem biometria por UF

df.groupby('SG_UF')['QTD_ELEITORES_SEMBIOMETRIA'].sum()

SG_UF
AC       73894
AL        7041
AM      387100
AP        1417
BA     3558894
CE     1407526
DF        5903
ES     1505317
GO        6762
MA     1156404
MG    10964390
MS      861011
MT     1189919
PA     2006749
PB        5330
PE     1865577
PI        1647
PR      807022
RJ    10089206
RN        7867
RO      208337
RR         464
RS     3363519
SC     1853848
SE        2484
SP    18124772
TO         632
ZZ      480145
Name: QTD_ELEITORES_SEMBIOMETRIA, dtype: int64

In [14]:
#criar um dataframe somente com municípios brasileiros

df_brasil = df[df['CD_PAIS'] == 1].copy()

df_brasil.head()

,NR_ANO_ELEICAO,CD_PAIS,NM_PAIS,SG_REGIAO,NM_REGIAO,SG_UF,NM_UF,CD_MUNICIPIO,NM_MUNICIPIO,QTD_ELEITORES,...,QTD_ELEITORES_95A99,QTD_ELEITORES_MAIORIGUAL100,QTD_ELEITORES_IDADEINVALIDO,QTD_ELEITORES_IDADENAOSEAPLICA,QTD_ELEITORES_IDADENAOINFORMADA,QTD_ELEITORES_COMBIOMETRIA,QTD_ELEITORES_SEMBIOMETRIA,QTD_ELEITORES_DEFICIENTE,QUANTITATIVO_NOMESOCIAL,RELACAO_FEM_MASC
0,2018,1,Brasil,N,Norte,AC,Acre,1120,ACRELÂNDIA,8809,...,2,0,0,0,0,8784,25,35,0,0.963227
1,2018,1,Brasil,N,Norte,AC,Acre,1570,ASSIS BRASIL,5726,...,4,0,0,0,0,5712,14,13,0,1.005604
2,2018,1,Brasil,N,Norte,AC,Acre,1058,BRASILÉIA,16041,...,4,4,0,0,0,15905,136,92,0,1.058122
3,2018,1,Brasil,N,Norte,AC,Acre,1007,BUJARI,8683,...,2,0,0,0,0,8665,18,18,0,0.975205
4,2018,1,Brasil,N,Norte,AC,Acre,1015,CAPIXABA,6832,...,1,0,0,0,0,6820,12,78,0,0.947548

In [15]:
#quantas cidades possuem mais mulheres eleitoras do que homens

df_brasil[df_brasil['QTD_ELEITORES_FEMININO'] > df_brasil['QTD_ELEITORES_MASCULINO']].count()

NR_ANO_ELEICAO                     3321
CD_PAIS                            3321
NM_PAIS                            3321
SG_REGIAO                          3321
NM_REGIAO                          3321
SG_UF                              3321
NM_UF                              3321
CD_MUNICIPIO                       3321
NM_MUNICIPIO                       3321
QTD_ELEITORES                      3321
QTD_ELEITORES_FEMININO             3321
QTD_ELEITORES_MASCULINO            3321
QTD_ELEITORES_NAOINFORMADO         3321
QTD_ELEITORES_MENOR16              3321
QTD_ELEITORES_16                   3321
QTD_ELEITORES_17                   3321
QTD_ELEITORES_18                   3321
QTD_ELEITORES_19                   3321
QTD_ELEITORES_20                   3321
QTD_ELEITORES_21A24                3321
QTD_ELEITORES_25A29                3321
QTD_ELEITORES_30A34                3321
QTD_ELEITORES_35A39                3321
QTD_ELEITORES_40A44                3321
QTD_ELEITORES_45A49                3321
QTD_ELEITORES_50A54                3321
QTD_ELEITORES_55A59                3321
QTD_ELEITORES_60A64                3321
QTD_ELEITORES_65A69                3321
QTD_ELEITORES_70A74                3321
QTD_ELEITORES_75A79                3321
QTD_ELEITORES_80A84                3321
QTD_ELEITORES_85A89                3321
QTD_ELEITORES_90A94                3321
QTD_ELEITORES_95A99                3321
QTD_ELEITORES_MAIORIGUAL100        3321
QTD_ELEITORES_IDADEINVALIDO        3321
QTD_ELEITORES_IDADENAOSEAPLICA     3321
QTD_ELEITORES_IDADENAOINFORMADA    3321
QTD_ELEITORES_COMBIOMETRIA         3321
QTD_ELEITORES_SEMBIOMETRIA         3321
QTD_ELEITORES_DEFICIENTE           3321
QUANTITATIVO_NOMESOCIAL            3321
RELACAO_FEM_MASC                   3321
dtype: int64

In [16]:
#Municipios brasileiros com a amaior relação fem/masc

df_brasil.nlargest(5,'RELACAO_FEM_MASC')

,NR_ANO_ELEICAO,CD_PAIS,NM_PAIS,SG_REGIAO,NM_REGIAO,SG_UF,NM_UF,CD_MUNICIPIO,NM_MUNICIPIO,QTD_ELEITORES,...,QTD_ELEITORES_95A99,QTD_ELEITORES_MAIORIGUAL100,QTD_ELEITORES_IDADEINVALIDO,QTD_ELEITORES_IDADENAOSEAPLICA,QTD_ELEITORES_IDADENAOINFORMADA,QTD_ELEITORES_COMBIOMETRIA,QTD_ELEITORES_SEMBIOMETRIA,QTD_ELEITORES_DEFICIENTE,QUANTITATIVO_NOMESOCIAL,RELACAO_FEM_MASC
3653,2018,1,Brasil,SE,Sudeste,RJ,Rio de Janeiro,58122,QUEIMADOS,72971,...,6,3,0,0,0,72927,44,942,6,1.321773
535,2018,1,Brasil,NE,Nordeste,BA,Bahia,38490,SALVADOR,1827436,...,164,34,7,0,0,1826047,1389,19305,122,1.269328
2894,2018,1,Brasil,NE,Nordeste,PE,Pernambuco,24910,OLINDA,276081,...,11,3,10,0,0,275800,281,1756,12,1.256264
373,2018,1,Brasil,NE,Nordeste,BA,Bahia,35939,IRECÊ,44082,...,8,6,1,0,0,44058,24,117,1,1.254142
329,2018,1,Brasil,NE,Nordeste,BA,Bahia,35157,FEIRA DE SANTANA,384050,...,71,9,5,0,0,383530,520,2043,4,1.252619

In [17]:
#Municipios brasileiros com a menor relação fem/masc

df_brasil.nsmallest(5,'RELACAO_FEM_MASC')

,NR_ANO_ELEICAO,CD_PAIS,NM_PAIS,SG_REGIAO,NM_REGIAO,SG_UF,NM_UF,CD_MUNICIPIO,NM_MUNICIPIO,QTD_ELEITORES,...,QTD_ELEITORES_95A99,QTD_ELEITORES_MAIORIGUAL100,QTD_ELEITORES_IDADEINVALIDO,QTD_ELEITORES_IDADENAOSEAPLICA,QTD_ELEITORES_IDADENAOINFORMADA,QTD_ELEITORES_COMBIOMETRIA,QTD_ELEITORES_SEMBIOMETRIA,QTD_ELEITORES_DEFICIENTE,QUANTITATIVO_NOMESOCIAL,RELACAO_FEM_MASC
2389,2018,1,Brasil,CO,Centro-Oeste,MT,Mato Grosso,90980,SANTA CRUZ DO XINGU,1571,...,0,0,0,0,0,40,1531,1,0,0.755307
1237,2018,1,Brasil,NE,Nordeste,MA,Maranhão,7900,MARAJÁ DO SENA,6416,...,4,0,1,0,0,2141,4275,4,0,0.769379
2362,2018,1,Brasil,CO,Centro-Oeste,MT,Mato Grosso,90948,NOVO SANTO ANTÔNIO,1701,...,8,1,0,0,0,49,1652,0,0,0.781152
2396,2018,1,Brasil,CO,Centro-Oeste,MT,Mato Grosso,90921,SERRA NOVA DOURADA,1379,...,0,0,0,0,0,1379,0,4,0,0.788586
2361,2018,1,Brasil,CO,Centro-Oeste,MT,Mato Grosso,90808,NOVO MUNDO,5064,...,5,0,1,0,0,48,5016,2,0,0.793201

In [25]:
#municipios com maior número de pessoas com 16 anos

df_brasil.nlargest(5,'QTD_ELEITORES_16')

,NR_ANO_ELEICAO,CD_PAIS,NM_PAIS,SG_REGIAO,NM_REGIAO,SG_UF,NM_UF,CD_MUNICIPIO,NM_MUNICIPIO,QTD_ELEITORES,...,QTD_ELEITORES_95A99,QTD_ELEITORES_MAIORIGUAL100,QTD_ELEITORES_IDADEINVALIDO,QTD_ELEITORES_IDADENAOSEAPLICA,QTD_ELEITORES_IDADENAOINFORMADA,QTD_ELEITORES_COMBIOMETRIA,QTD_ELEITORES_SEMBIOMETRIA,QTD_ELEITORES_DEFICIENTE,QUANTITATIVO_NOMESOCIAL,RELACAO_FEM_MASC
5358,2018,1,Brasil,SE,Sudeste,SP,São Paulo,71072,SÃO PAULO,9052724,...,33110,3439,96,0,0,4346933,4705791,138884,551,1.172417
677,2018,1,Brasil,NE,Nordeste,CE,Ceará,13897,FORTALEZA,1776365,...,5292,1101,35,0,0,876538,899827,10480,172,1.221608
803,2018,1,Brasil,CO,Centro-Oeste,DF,Distrito Federal,97012,BRASÍLIA,2084356,...,479,89,15,0,0,2078453,5903,9398,90,1.166345
161,2018,1,Brasil,N,Norte,AM,Amazonas,2550,MANAUS,1320059,...,49,14,5,0,0,1316580,3479,6286,53,1.119018
3660,2018,1,Brasil,SE,Sudeste,RJ,Rio de Janeiro,60011,RIO DE JANEIRO,4891885,...,36069,2219,64,0,0,691875,4200010,23228,203,1.204278

In [27]:
#Municipios com a maior quantidade de pessoas que optaram por nome social

df_brasil.nlargest(5,'QUANTITATIVO_NOMESOCIAL')

,NR_ANO_ELEICAO,CD_PAIS,NM_PAIS,SG_REGIAO,NM_REGIAO,SG_UF,NM_UF,CD_MUNICIPIO,NM_MUNICIPIO,QTD_ELEITORES,...,QTD_ELEITORES_95A99,QTD_ELEITORES_MAIORIGUAL100,QTD_ELEITORES_IDADEINVALIDO,QTD_ELEITORES_IDADENAOSEAPLICA,QTD_ELEITORES_IDADENAOINFORMADA,QTD_ELEITORES_COMBIOMETRIA,QTD_ELEITORES_SEMBIOMETRIA,QTD_ELEITORES_DEFICIENTE,QUANTITATIVO_NOMESOCIAL,RELACAO_FEM_MASC
5358,2018,1,Brasil,SE,Sudeste,SP,São Paulo,71072,SÃO PAULO,9052724,...,33110,3439,96,0,0,4346933,4705791,138884,551,1.172417
3660,2018,1,Brasil,SE,Sudeste,RJ,Rio de Janeiro,60011,RIO DE JANEIRO,4891885,...,36069,2219,64,0,0,691875,4200010,23228,203,1.204278
677,2018,1,Brasil,NE,Nordeste,CE,Ceará,13897,FORTALEZA,1776365,...,5292,1101,35,0,0,876538,899827,10480,172,1.221608
535,2018,1,Brasil,NE,Nordeste,BA,Bahia,38490,SALVADOR,1827436,...,164,34,7,0,0,1826047,1389,19305,122,1.269328
1406,2018,1,Brasil,SE,Sudeste,MG,Minas Gerais,41238,BELO HORIZONTE,1956410,...,7792,645,22,0,0,663332,1293078,9914,98,1.189072